<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.antondomashnev.template.hackathonApplication</string>
	<key>Description</key>
	<string>This template provides a starting point for an application for hackathon.</string>
	<key>Ancestors</key>
	<array>
		<string>com.antondomashnev.template.hackathonApplication.pods</string>
		<string>com.antondomashnev.template.hackathonApplication.cocoaPods</string>
		<string>com.apple.dt.unit.objectiveCApplication</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()
				@end
</string>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:didReceiveMemoryWarning</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
