<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.antondomashnev.template.hackathonApplication.Facebook</string>
	<key>Name</key>
	<string>Facebook Dependency</string>
	<key>Ancestors</key>
	<array>
	</array>
	<key>Description</key>
	<string></string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>../Podfile:RestKit</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:SystemConfiguration</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:MobileCoreServices</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:method:initializeLogging:RKLogConfiguration</string>
		<string>Classes/ServiceObjectManager.h</string>
		<string>Classes/ServiceObjectManager.m</string>
		<string>Classes/ServiceObjectManager.m:method:initWithHTTPClient</string>
		<string>Classes/ServiceObjectManager.m:method:sharedManager</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Description</key>
			<string>Whether the application should use support Facebook authorization and other</string>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Name</key>
			<string>Enable Facebook</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict> 
						<key>../Podfile:Facebook-iOS-SDK</key>
						<string>pod &quot;Facebook-iOS-SDK&quot;, &quot;~> 3.11&quot;</string>

						<key>Classes/FacebookServiceObjectManager.h</key>
						<dict>
							<key>Beginning</key>
							<string>#import "ServiceObjectManager.h"

@interface FacebookServiceObjectManager : ServiceObjectManager
							</string>
							<key>End</key>
							<string>@end</string>
							<key>Group</key>
							<string>Networking</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m</key>
						<dict>
							<key>Beginning</key>
							<string>#import "FacebookServiceObjectManager.h"
#import &lt;FacebookSDK/FacebookSDK.h&gt;

static NSString * const kFacebookAppID = @"&lt;# Facebook App ID #&gt;";
static NSString * const kFacebookBaseURL = @"https://graph.facebook.com";

@implementation FacebookServiceObjectManager
							</string>
							<key>End</key>
							<string>@end</string>
							<key>Group</key>
							<string>Networking</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m:method:initWithHTTPClient</key>
						<dict>
							<key>Beginning</key>
							<string>- (id)initWithHTTPClient:(AFHTTPClient *)client
{
    self = [super initWithHTTPClient:client serviceName:@"Facebook"];
    if(self)
    {
				    		</string>
				    		<key>End</key>
				    		<string>
	}
    return self;
}
				    		</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m:method:sharedManager</key>
						<dict>
							<key>Beginning</key>
							<string>static FacebookHelper *sharedInstance;
+ (instacetype)sharedManager{
    static dispatch_once_t onceToken;
    dispatch_once(&amp;onceToken, ^{
        sharedInstance = [[FacebookHelper alloc] initWithHTTPClient:[AFHTTPClient clientWithBaseURL: [NSURL URLWithString:kFacebookBaseURL]]];
    });
							</string>
							<key>End</key>
							<string>    
	return sharedInstance;
}
							</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m:method:completeRequestParametersForParameters</key>
						<dict>
							<key>Beginning</key>
							<string>#pragma mark - Helpers
- (NSDictionary *)completeRequestParametersForParameters:(NSDictionary *)params
{
	NSMutableDictionary *fullParameters = [NSMutableDictionary new];
    if(params){
        [fullParameters setValuesForKeysWithDictionary:params];
    }
    if([FBSession activeSession].accessTokenData.accessToken){
        fullParameters[@"access_token"] = [FBSession activeSession].accessTokenData.accessToken;
    }
				    		</string>
				    		<key>End</key>
				    		<string>
    return fullParameters;
}
							</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m:method:appropriateObjectRequestOperationWithObject</key>
						<dict>
							<key>Beginning</key>
							<string>#pragma mark - RKObjectManager
- (id)appropriateObjectRequestOperationWithObject:(id)object
                                           method:(RKRequestMethod)method
                                             path:(NSString *)path
                                       parameters:(NSDictionary *)parameters
{
							</string>
							<key>End</key>
							<string>        
	return [super appropriateObjectRequestOperationWithObject:object method:method path:path parameters:[self completeRequestParametersForParameters: parameters]];
}
							</string>
						</dict>

						<key>Classes/FacebookServiceObjectManager.m:method:openSessionIfTokenLoaded</key>
						<dict>
							<key>Beginning</key>
							<string>- (void)openSessionIfTokenLoaded
{
    if([FBSession activeSession].state == FBSessionStateCreatedTokenLoaded){
        
        if(![[FBSession activeSession].permissions containsObject:[[CQFacebookAuthInfo FBWritePermissions] firstObject]]){
            [FBSession openActiveSessionWithReadPermissions:[CQFacebookAuthInfo FBReadPermissions]
                                               allowLoginUI:YES
                                          completionHandler:nil];
        }
        else if([[FBSession activeSession].permissions containsObject: [[CQFacebookAuthInfo FBWritePermissions] firstObject]]){
            [FBSession openActiveSessionWithPublishPermissions:[CQFacebookAuthInfo FBWritePermissions]
                                               defaultAudience:FBSessionDefaultAudienceEveryone
                                                  allowLoginUI:YES
                                             completionHandler:nil];
        }
    }
							</string>
							<key>End</key>
							<string>{</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:Facebook-iOS-SDK</string>
						<string>Classes/FacebookServiceObjectManager.h</string>
						<string>Classes/FacebookServiceObjectManager.m</string>
						<string>Classes/FacebookServiceObjectManager.m:method:initWithHTTPClient</string>
						<string>Classes/FacebookServiceObjectManager.m:method:sharedManager</string>
						<string>Classes/FacebookServiceObjectManager.m:method:completeRequestParametersForParameters</string>
						<string>Classes/FacebookServiceObjectManager.m:method:appropriateObjectRequestOperationWithObject</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
