<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.antondomashnev.template.hackathonApplication.cocoaLumberjack</string>
	<key>Name</key>
	<string>Cocoa Lumberjack Dependency</string>
	<key>Ancestors</key>
	<array>
	</array>
	<key>Definitions</key>
	<dict> 
		<key>../Podfile:CocoaLumberjack</key>
		<string>pod &quot;CocoaLumberjack&quot;, &quot;~>1.6&quot;</string>

		<key>___PACKAGENAME___-Prefix.pch:objC:DDLogProjectSettings</key>
		<string>#import "DDLogProjectSettings.h"</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:DDLog</key>
		<string>#import "DDLog.h"</string>
		<key>___PACKAGENAME___-Prefix.pch:endif:ddLogLevel</key>
		<string>extern int ddLogLevel;</string>
	</dict>
	<key>Description</key>
	<string></string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>../Podfile:CocoaLumberjack</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:DDLogProjectSettings</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:DDLog</string>
		<string>___PACKAGENAME___-Prefix.pch:endif:ddLogLevel</string>
	</array>
	<key>Options</key>
	<array>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
