<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.antondomashnev.template.hackathonApplication.pods</string>
	<key>Name</key>
	<string>Pods Dependency</string>
	<key>Ancestors</key>
	<array>
	</array>
	<key>Definitions</key>
	<dict> 
		<key>../Podfile:FrameAccessor</key>
		<string>pod &quot;FrameAccessor&quot;, &quot;~>1.3&quot;</string>
		<key>../Podfile:SDWebImage</key>
		<string>pod &quot;SDWebImage&quot;, &quot;~>3.4&quot;</string>
		<key>../Podfile:ObjectiveSugar</key>
		<string>pod &quot;ObjectiveSugar&quot;, &quot;~>1.0&quot;</string>
		<key>../Podfile:JRSwizzle</key>
		<string>pod &quot;JRSwizzle&quot;, &quot;~>1.0&quot;</string>
		<key>../Podfile:SVPullToRefresh</key>
		<string>pod &quot;SVPullToRefresh&quot;, &quot;~>0.4&quot;</string>
		<key>../Podfile:NSData+Base64</key>
		<string>pod &quot;NSData+Base64&quot;, &quot;~>1.0&quot;</string>
		<key>../Podfile:BlocksKit</key>
		<string>pod &quot;BlocksKit&quot;, &quot;~>2.0.0&quot;</string>
		<key>../Podfile:TBMacros</key>
		<string>pod &quot;TBMacros&quot;, :git => &quot;https://github.com/Antondomashnev/TBMacros&quot;, :commit => &quot;2e2efddb5588c0187d14a56b2ae40d0ea908b49c&quot;</string>


		<key>___PACKAGENAME___-Prefix.pch:objC:FrameAccessor</key>
		<string>#import &lt;FrameAccessor/FrameAccessor.h&gt;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:ObjectiveSugar</key>
		<string>#import &lt;ObjectiveSugar/ObjectiveSugar.h&gt;</string>
	</dict>
	<key>Description</key>
	<string></string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>../Podfile:FrameAccessor</string>
		<string>../Podfile:SDWebImage</string>
		<string>../Podfile:ObjectiveSugar</string>
		<string>../Podfile:JRSwizzle</string>
		<string>../Podfile:SVPullToRefresh</string>
		<string>../Podfile:NSData+Base64</string>
		<string>../Podfile:BlocksKit</string>
		<string>../Podfile:TBMacros</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:FrameAccessor</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:ObjectiveSugar</string>
	</array>
	<key>Options</key>
	<array>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
